* {
    box-sizing: border-box;
}



@font-face {
  font-family: 'Univers';
  src: url('font/univers.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

body {
    font-family: "Univers";
    background-image: url("img/orric.png");
}

article {
    margin: 20px;
    flex: 4;
    font-size: 16px;
}

h1 {
    margin-top: 0px;
}

article a.external::before {
    content:"{";
}

article a.external::after {
    content:"}";
}

a {
    color: #000;
}

a:hover {
    background-color: #000;
    color: #fff;
}

.sidebar-content a:hover {
    background-color: #fff;
    color: #000;
}

header {
    align-items: center;
    display: flex;
    padding: 20px;
    background-color: white;
    border-bottom: 2px dotted black;
}

nav ul {
    padding: 0px;
}

.namebox {
    font-size: 20px;
}

.quotebox {
    margin-left: auto;
}

.namebox a {
}

nav {
    font-family: monospace;
}

header .actionBox {
    margin-left: auto;
}

body {
    max-width: 1000px;
    margin: 20px auto;
}

.sidebar {
    flex: 1;
    border-left: dotted black 2px;
    display: flex;
    flex-direction: column;
}

.sidebar-content {
    padding: 10px;
}

nav {
    border-bottom: dotted black 2px;
    padding-left: 10px;
}

.main-container {
    display: flex;
    border-bottom: dotted 2px black;
    flex-direction: row;
}

@media (max-width: 1000px) {

    article {
        font-size: 14px;
    }

    .main-container {
        flex-direction: column;
    }

    .sidebar {
        border-top: dotted black 2px;
        border-left: dotted black 0px;
    }

    nav {
        order: 2;
        border-bottom: 0px;
    }

    .sidebar-content {
        order: 1;
        border-bottom: dotted black 2px;
    }
}

main {
    border: 4px ridge black;
    background-color: white;
}

img {
    width: 100%;
}

.articleheader h1 {
    margin: 0px;
}

.secret {
    width: 20px;
    height: 20px;

    position: fixed;
    bottom: 0;
    left: 0;
}

ul {
    list-style: none;
    padding: 5px;
}

footer {
    background-color: white;
    padding: 20px;
}
a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; left: -4em; }
pre.numberSource a.sourceLine::before
  { content: attr(title);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    background-color: #2a211c;
    color: #bdae9d;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #bdae9d;  padding-left: 4px; }
div.sourceCode
  { color: #bdae9d; background-color: #2a211c; }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span.al { color: #ffff00; } /* Alert */
code span.an { color: #0066ff; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { } /* Attribute */
code span.bn { color: #44aa43; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #43a8ed; font-weight: bold; } /* ControlFlow */
code span.ch { color: #049b0a; } /* Char */
code span.cn { } /* Constant */
code span.co { color: #0066ff; font-weight: bold; font-style: italic; } /* Comment */
code span.do { color: #0066ff; font-style: italic; } /* Documentation */
code span.dt { text-decoration: underline; } /* DataType */
code span.dv { color: #44aa43; } /* DecVal */
code span.er { color: #ffff00; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #44aa43; } /* Float */
code span.fu { color: #ff9358; font-weight: bold; } /* Function */
code span.im { } /* Import */
code span.in { color: #0066ff; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #43a8ed; font-weight: bold; } /* Keyword */
code span.op { } /* Operator */
code span.pp { font-weight: bold; } /* Preprocessor */
code span.sc { color: #049b0a; } /* SpecialChar */
code span.ss { color: #049b0a; } /* SpecialString */
code span.st { color: #049b0a; } /* String */
code span.va { } /* Variable */
code span.vs { color: #049b0a; } /* VerbatimString */
code span.wa { color: #ffff00; font-weight: bold; } /* Warning */
