* {
    box-sizing: border-box;
}

article {
    border: 4px solid black;
    margin: 20px;
    margin-left: 0px;
    flex: 4;
    padding: 10px;
}

header {
    border: 4px solid black;
    margin: 20px auto;
}

body {
    max-width: 800px;
    margin: 20px auto;
}

nav {
    border: 4px solid black;
    margin: 20px;
    flex: 1;
}

main {
    display: flex;
    border: 4px solid black;
}

ul {
    list-style: none;
    padding: 5px;
}
