<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <main>
    <header>
        <div class="namebox">
        <a href="/pages/">
        leonid.belyaev.wiki
        <br/>
        </a>
        </div>
        <div class="quotebox">
            containing no <br/> natural ingredients
        </div>
    </header>
        <div class="foo">
        <article>
            {% block content %}{% endblock content %}
        </article>
        {% block nav %}{% endblock nav %}
        </div>
    <footer>
      Leonid Belyaev 2023
    </footer>
    </main>
    <a href="/admins/authenticate">
    <div class="secret">
    </div>
    </a>
</body>
