<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <!-- TODO maybe if you scroll sufficiently far down the page, the selector bar fades out, and the article becomes centered -->
    <header>
        <a href="http://localhost:8000/pages/">
        leonidb
        <br/>
        <small>
        Leonid Belyaev
        </small>
        </a>
    </header>
    <main>
        {% block nav %}{% endblock nav %}
        <article>
            {% block content %}{% endblock content %}
        </article>
    </main>

    <footer>
      Leonid Belyaev 2023
    </footer>
</body>
