{% extends "page_form" %}

{% block nav %}
{% endblock nav %}

{% block form_title %}{% endblock form_title %}
{% block formslug %}{% endblock form_slug %}
{% block formmarkdown_content %}{% endblock form_markdown_content %}
{% block form_sidebar_markdown_content %}{% endblock form_sidebar_markdown_content %}

{% block title %}Create Child Page{% endblock title %}
{% block action %}Create Child Page{% endblock action %}
{% block url %}/pages/{{ path }}{% endblock action %}
