{% extends "base" %}

{% block nav %}
{% endblock nav %}

{% block title %}Create Child Page{% endblock title %}

{% block content %}
<form action="/pages/{{ path }}" method="post">
  <label for="title">Title</label>
  <input class="input" type="text" name="title">
  <label for="markdown_content">Markdown Content</label>
  <textarea name="markdown_content" rows="25" cols="80">
  </textarea>
  <button>Create Child</button>
</form>
{% endblock content %}
