{% extends "base" %}

{% block nav %}
{% endblock nav %}

{% block title %}Create Child Page{% endblock title %}

{% block content %}
<form action="http://localhost:8000/pages/{{ path }}" method="post">
  <label for="title">Title</label>
  <input class="input" type="text" name="title">
  <label for="html_content">HTML Content</label>
  <input class="input" type="text" name="html_content">
  <button>Create Child</button>
</form>
{% endblock content %}
