{% extends "base" %}

{% block nav %}
{% endblock nav %}

{% block title %}Authenticate as Admin{% endblock title %}

{% block content %}
<form action="http://localhost:8000/admins/authenticate" method="post">
  <label for="username">Username</label>
  <input class="input" type="text" name="username">
  <label for="password">Password</label>
  <input class="input" type="text" name="password">
  <button>Login</button>
</form>
{% endblock content %}
