{% extends "base" %}

{% block nav %}
{% endblock nav %}

{% block title %}Upload File{% endblock title %}

{% block content %}
<form action="/upload/image" method="post" enctype="multipart/form-data">
  <label for="filename">File Name</label>
  <input class="input" type="text" name="filename">
  <label for="image">Image</label>
  <input class="input" type="file" name="image">
  <button>Upload Image</button>
</form>
{% endblock content %}
